[Unit]
Description=Saves energy on Raspberry Pis

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=$WORKING_DIR
ExecStart=/bin/bash ./scripts/save_energy.sh

[Install]
WantedBy=multi-user.target
